<% if session[:errors] %>
		<p><%= session[:errors] %> </p>
		<% session[:errors] = nil %>
<% end %>

<form action="/sessions" method="post">
	<p>
		<label for="email">Email:</label>
		<input type="email" id="email" name="email">
	</p>
	<p>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password">
	</p>
	<input type="submit" value="Sign In">
</form>